.maincontainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.thecard {
    position: relative;
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    perspective: 1000px;
}

.thecard:hover {
    transform: rotateY(180deg);
}

.thefront
 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    z-index: 2; /* Asegura que el contenido esté encima */
    text-align: center;
    padding-bottom:10px ;
}


.theback {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    z-index: 2; /* Asegura que el contenido esté encima */
}

.theback {
    transform: rotateY(180deg);
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semitransparente */
    z-index: 1;
    overflow: hidden;
    box-shadow: 5px 5px 15px #FFB11B;
}

.thefront {
    z-index: 1;
}

.thefront img {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    display: block;
    transition: transform 0.3s;
    z-index: -1; /* Imagen detrás del contenido */
    position: absolute;
    top: 0;
    left: 0;
}

.theback img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Imagen detrás del contenido */
}

.overlay {
    z-index: 3; /* Superponemos el overlay y el contenido por encima */
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: height 0.3s;
    opacity: 1; /* Aseguramos visibilidad */
}

.overlay h3 {
    font-weight: 500;
    color: #fff; /* Texto en blanco sobre el overlay oscuro */
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.overlay a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 15px;
    background-color: #FFB11B;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.overlay a:hover {
    background-color: #e69b0f; /* Efecto hover para el botón */
}

.thecard:hover .overlay {
    height: 100%; /* Muestra la información completa cuando se hace hover */
}
